main{
	overflow: hidden; 
	width: 1300px;
}
.new_list{
	float: left;
	width: 1300px;
	text-align: center;
}
.new_list article{
	float: left;
	width: 1300px;
	padding: 10px;
	box-sizing: border-box;
}
time{
	color:rgb(110, 110, 110);
}

blockquote{
	background-color:#6e6e6e;
	text-align: center;
	padding: 20px;
	color: #fff;
}
