.head {
 	background-color:#D1BC8A;
	padding: 25px; 
	border: 1px solid black;


}

.content{
 	overflow: hidden; 
 	display: flex;
 	justify-content: space-between;
 }
	
.new_list{ 	

 	text-align: center;

}

.new_list article{
 	padding: 10px;
 	box-sizing: border-box;
}
.datatime{
	color:rgb(110, 110, 110);
}
.news-article_image{
	display: block;
	margin: 0 auto;
}
.news-article_signimage{
 	padding: 10px;
 	box-sizing: border-box;
 	 	text-align: center;
 	 	color:rgb(0, 100, 100, 0.59);

}
.new-blockquote{
 	background-color:#6e6e6e;
 	text-align: center;
	padding: 20px;
 	color: #FFADAD;
}
