.head {
 	background-color:#D1BC8A;
	padding: 1em; 
	border: 1px solid black;


}

.content{
 	overflow: hidden; 
 	display: flex;
 	justify-content: space-between;
 }
	
.new_list{ 	
	background-color:#D1A7D4;
 	text-align: center;

}

.new_list article{
 	padding: 1em;
 	box-sizing: border-box;
}

.new-blockquote{
 	background-color:#6e6e6e;
 	text-align: center;
 	color: #FFADAD;
}
